body {
    height:100vh;
    background-color: black;
    margin: 0;
    padding: 0;
}

#container {
    display:flex;
    height: 100vh;
    background-color: white;
    margin: 0 15vw 0 15vw;
}

#page-hero {
    display:flex;
    position: relative;
    flex-direction: column;
    background-image: url("jungle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 40vh;
    min-width: 35%;
}

#header {
    position: absolute;
    top: 25%;
    background-color: rgba(0,0,0,.3);
    font-size: 16px;
    color: white;
    height: 10%;
    min-width: 100%;
    text-align: center;
}

#footer {
    margin-top: auto;
}